.Body {
    margin-left: 100px;
    margin-right: 100px;
}

.Body-RegularNews {
    display: flex;
    justify-content: space-around;
}

.BreakingNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin: 20px;
}

.NewsIntro-breakingNews img{
    width: 1000px;
}

.NewsIntro-restNews{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px white solid;
}

.NewsIntro-restNews img {
    width: 270px;
    height: 170px;
}

.NewsRating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NewsRating .like {
    display: flex;
    align-items: center;
    gap:5px;
}

.Intro{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.NewsDetail,
.NewsDetail img {
    width: 600px;
    margin-top: 10px;
}

.NewsDetail{
    margin-left: 50px;
}
.NewsDetail-full-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FavNews {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* small features */
span:hover {
    cursor: pointer;
}

.NewsIntro .title:hover,
.FavNews-solo span:hover,
.Intro h3:hover{
    color: grey;
}
