.Header h1 {
    margin: 20px;
    padding: 5px;
    text-align: center;
    background-color: red;
    width: 200px;
    color:aliceblue;
}

.Header-h1-signup-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .search-signup{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.Header-Nabbar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.searchBar input {
    background-color: aliceblue;
}

/* small features */
.Header span:hover,
.Header h1:hover{
    color: gray;
}
